.cafe-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 24px;
  height: fit-content;
}

@media (min-width: 700px) {
  .cafe-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .cafe-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}